@import '../scss/colours';
@import '../scss/vars';

.modal {
  align-items: center;
  background-color: $black-semi;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    .box {
      transform: translateY(20px);

      h2 {
        font-variation-settings: "wdth" 96;
        font-weight: 720;
      }

      * {
        transform: translateY(4px);
        opacity: 0;
      }
    }
  }

  .box {
    align-items: center;
    background-color: $pink;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    color: $black;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    text-align: center;
    transition: transform 0.2s ease;

    @for $i from 1 through 2 {
      .text *:nth-child(#{$i}) {
        transition-delay: ($i * 0.04s);
      }
    }

    h2,
    p {
      font-variation-settings: "wdth" 100;
      margin-bottom: 20px;
      transition: font-variation-settings 0.36s ease-in, font-weight 0.36s ease-in, opacity 0.3s ease, transform 0.18s ease;
    }

    .buttons {
      display: flex;

      button,
      .button {
        background-color: $black;
        color: white;

        &:hover {
          background-color: $blue;
        }
      }

      button {
        margin-right: 12px;
      }
    }
  }

  img {
    margin-bottom: 12px;
    width: 560px;
  }
}