@import '../scss/colours';

.menu-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .button.square {
    background-color: $turquoise;

    &.disabled {
      background-color: $blue;
    }

    &:hover {
      background-color: $pink;
    }
  }
}
