@import '../scss/colours';
@import '../scss/vars';

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.4s ease-in, transform 0.3s ease-in;

  &.shown {
    opacity: 1;
    transform: translateY(0);
  }

  &.shaking {
    animation: shake 140ms linear infinite;
  }
  
  .wrapper {
    background-color: $blue;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 2px;
  }
}

.row {
  display: flex;
}

.square {
  align-items: center;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-inner;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  line-height: 30px;
  margin: 4px;
  transition: background-color 0.08s ease-in;
  width: 50px;

  &.current {
    background-color: $pink;
  }

  &.goal {
    background-color: $red;
  }

  &.mine {
    background-color: $black;
  }

  &.key {
    background-color: $turquoise;
  }
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0); }
}