@import '../scss/colours';

.grid {
  border: 3px solid white;
  padding: 2px;
}

.row {
  display: flex;
}

.square {
  align-items: center;
  background-color: white;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  line-height: 30px;
  margin: 4px;
  width: 50px;

  &.current {
    background-color: $pink;
  }

  &.goal {
    background-color: $red;
  }
}