@import '../scss/colours';
@import '../scss/vars';

.cls-1{
  fill: $red;
  filter: drop-shadow($box-shadow-sm);
}
.cls-2{
  fill: $pink;
  filter: drop-shadow($box-shadow-sm);
}

svg {
  height: 100%;
  width: 294px;
}
