@import 'scss/colours';

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: $pink;
  color: $black;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 20px;
  }
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  background-color: $red;
  padding: 4px;
  text-align: center;

  p {
    color: $black;
    font-size: 10px;
  }
}

button {
  appearance: none;
  background-color: $turquoise;
  border: none;
  border-radius: 0;
  color: $black;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 12px;

  &:hover {
    background-color: $pink;
  }
}
