@import 'scss/colours';
@import 'scss/vars';

.App {
  background: $black;
  background: linear-gradient(200deg, $black 0%, $blue-fade 50%, $black 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 18px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}
