@import 'scss/colours';

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: $pink;
  color: $black;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 20px;
  }
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  background-color: $red;
  padding: 6px;
  text-align: center;

  p {
    color: $black;
    font-size: 11px;
  }
}
