@import './colours';
@import './vars';

button,
.button {
  appearance: none;
  background-color: $turquoise;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow-sm;
  color: $black;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  font-variation-settings: "wdth" 96;
  font-weight: 720;
  height: 42px;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 20px;
  outline: none;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease-out 0s, font-variation-settings 0.07s ease 0.03s, font-weight 0.06s ease 0.02s;

  &:hover {
    background-color: $pink;
    font-variation-settings: "wdth" 100;
    font-weight: 800;
  }

  &.square-btn {
    width: 42px;
  }
}