@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&family=Staatliches&display=swap');

body, * {
  font-family: 'Staatliches', sans-serif;
}

p {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 64px;
  letter-spacing: 14px;
  line-height: 64px;
}

h2 {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 20px;
}
